footer {
    display: flex;
    width: 100%;
    background-color: gainsboro;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 5px;
    font-family: Times;
    color: dimgray;
    a {
        color:royalblue;
        &:link{
            text-decoration: none;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

#copyright-symbol {
    width: 25px;
    padding: 5px;
}